.places__paragraph {
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    max-width: 484px;
    padding: 0;
    margin: 0 0 26px 0;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
    }
}