.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    max-width: 484px;
    padding: 0;
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}