.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    padding: 0;
    margin: 0 auto;
    z-index: 2;
}