.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 48px 0;
}

@media screen and (max-width: 768px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}