.footer__link {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    transition: opacity .3s ease;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}