.places__card {
    display: grid;
    grid-template-columns: minmax(460px, 1fr) 1.05fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

.places__card:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
    .places__card {
        grid-template-columns: minmax(400px, 1fr) 1.05fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .places__card {
        grid-template-columns: minmax(440px, 1fr) 1.05fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 920px) {
    .places__card {
        grid-template-columns: minmax(340px, 1fr) 1.05fr;
    }
}

@media screen and (max-width: 768px) {
    .places__card {
        column-gap: 28px;
        grid-template-columns: minmax(340px, 1fr) 1.05fr;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 685px) {
    .places__card {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 568px) {
    .places__card {
        column-gap: 30px;
        grid-template-columns: 100%;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 320px) {
    .places__card {
        row-gap: 32px;
        grid-template-columns: 100%;
        margin-bottom: 50px;
    }
}