.cover {
    max-width: 1184px;
    padding: 92px 48px;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding: 92px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 90px 0 88px;
    }
}