.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    padding: 0 48px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        padding: 0 16px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 0 16px;
        flex-direction: column;
    }
}